{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Sutra_Kshetra</title>
 <link rel="icon" type="text/png"  href="{% static 'Intern/final.png' %}">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 <style type="text/css">
 	
 	
.form
{
    padding:100px;
  margin-top: 60px ;
  margin-left: 160px;
margin-right: 160px;
   
   border-radius:800px;
  background-color: #666666;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 60px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.75) url("https://media.giphy.com/media/3ohzdOrcdpiD26TPt6/giphy.gif") no-repeat center center;
  z-index: 10000;
}
 </style>

</head>
<body>
<nav class=" navbar navbar-expand-md navbar-dark bg-primary sticky-top">
	
	<div class="container-fluid">
	<a class="navbar-brand" href="{% url 'Frml' %}"><img src="{% static 'Intern/final.png' %}"></a>	
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">

		<ul class="navbar-nav ml-auto">
		
		<li class="nav-item active mr-2"><a class="nav-link" href="{% url 'Frml' %}">Home</a></li>
        <li class="nav-item active mr-2"><a class="nav-link" href="#">About Us</a></li>
        <li class="nav-item active mr-2"><a class="nav-link" href="#">Services</a></li>
        <li class="nav-item active mr-2"><a class="nav-link" href="#">Team</a></li>
        <li class="nav-item active mr-5"><a class="nav-link" href="#">Connect</a></li>
		</ul>
		
	</div>
	</div>

</nav>

<div class="form" align="center" >

 <form  method="post" enctype="multipart/form-data" action="{% url 'Frml' %}">
	
	 
<div class="upload-btn-wrapper">
	{% csrf_token %}
  
  <button  class="btn btn-primary">Select a PDF</button>
  <input type="file" id="df" name="document" accept="application/pdf" required /><br><br><br><br>
   <button type="submit"  class="btn btn-primary" onclick ="spin()">Start</button>
 
 
<br>
 
</div>
     
      
 </form>
  
   
{% if data %}
  <div class="row mt-5 ml-4">
 <div class="col-3 mt-5">
  <button  class="btn btn-primary" onclick="location.href='{% url 'dwl' %}'">DownloadFile</button>
 </div>
 <div class="col-9">
  <form role="form" method="post" action="Sendmail">
    {% csrf_token %}
<input type="hidden" name="_token" value="">
  <div class="form-row">
      <div class="col-6 ml-4" > 
      <input type="email" name="emai" class="form-control" placeholder="Drop Your Email" required>
      </div>
      <div class="col-3 ml-1" >
      <button type="submit" class="btn btn-primary">Send converted file</button>
      </div> 
   </div>
</form>
</div>
</div>
   {%endif%} 

</div>

 <div id="loader"></div>

 
<script src="http://code.jquery.com/jquery.js"></script>
 
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script>

 function spin()
 {
  if(document.getElementById("df").value != "")
  
    document.getElementById("loader").style.display = "block";
    
  else
    alert("Please select file");
 }

</script>


</body>
</html>